<section class="materiels-section">
    <div class="materiels-container">
        <!-- En-tête -->
        <div class="materiels-header">
            <h2 class="materiels-title">
                E-cigarettes
            </h2>
        </div>

        <!-- Grille de materiels -->
        <div class="materiels-grid">
            <div class="materiel-card" *ngFor="let materiel of filteredMateriels" (click)="openDetail(materiel)">
                
                <!-- Image du materiel -->
                <div class="materiel-image">
                    <img [src]="getImageUrl(materiel.image)" [alt]="materiel.nom">
                    
                    <div class="stock-badge" [class.out-of-stock]="!materiel.stock">
                        {{ materiel.stock ? 'En stock' : 'Rupture' }}
                    </div>
                </div>

                <!-- Informations materiel -->
                <div class="materiel-info">
                    <h3 class="materiel-name">{{ materiel.nom }}</h3>
                    <h1 class="description">{{ materiel.description }}</h1>

                    <!-- Prix -->
                    <div class="materiel-footer">
                        <div class="materiel-price">
                            <span class="current-price">Prix: {{ materiel.prix | number }} Ar</span>
                        </div>
    
                        <!-- Bouton ajouter -->
                        <button 
                        class="add-to-cart-btn" 
                        (click)="addToCart(materiel); $event.stopPropagation()" 
                        [disabled]="!materiel.stock">
                                                            
                        <svg *ngIf="materiel.stock" class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                        </svg>
                                                
                        <svg *ngIf="!materiel.stock" class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
                        </svg>
                      
                      </button>    
                    </div>
            </div>
            </div>
        </div>
    </div>
</section>

<!-- POPUP DETAIL -->
<div class="modal-overlay" *ngIf="showDetailModal" (click)="closeDetail()">

    <div 
      class="detail-modal" 
      (click)="$event.stopPropagation()"
    >
    <div class="header">
        <h1>Information sur le materiel</h1>
    </div>

        <button 
          class="close-btn"
          (click)="closeDetail()">
          ×
        </button>


        <img 
          class="detail-image"
          [src]="getImageUrl(selectedMateriel?.image)"
          [alt]="selectedMateriel?.nom"
        >


        <h2>
          {{ selectedMateriel?.nom }}
        </h2>


        <p>
          <strong>Marque :</strong>
          {{ selectedMateriel?.marque }}
        </p>


        <p>
          <strong>Type :</strong>
          {{ getTypeLabel(selectedMateriel?.type ?? 0) }}
        </p>


        <p *ngIf="selectedMateriel?.modele">
          <strong>Modèle :</strong>
          {{ selectedMateriel?.modele }}
        </p>


        <p *ngIf="selectedMateriel?.batterie">
          <strong>Batterie :</strong>
          {{ selectedMateriel?.batterie }} mAh
        </p>


        <p *ngIf="selectedMateriel?.capacite">
          <strong>Capacité :</strong>
          {{ selectedMateriel?.capacite }} ml
        </p>


        <p *ngIf="selectedMateriel?.watts">
          <strong>Watts :</strong>
          {{ selectedMateriel?.watts }} W
        </p>


        <p *ngIf="selectedMateriel?.description">
          <strong>Description :</strong><br>
          {{ selectedMateriel?.description }}
        </p>


        <div class="detail-footer">

            <div class="materiel-price">
              <span class="current-price">
                Prix: {{ selectedMateriel?.prix | number }} Ar
              </span>
            </div>
                    
          </div>
    </div>

</div>