/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

/* styles.css */
:root {
    --primary-bg: #0a0a0a;
    --secondary-bg: #1a1a1a;
    --accent-color: #4f46e5;
    --font-main: "Montserrat", sans-serif;
  }
  
  body {
    background-color: var(--primary-bg);
    font-family: var(--font-main);
  }
  
  /* Pour changer dynamiquement via JavaScript */
  .theme-purple {
    --primary-bg: #1a0a2e;
    --secondary-bg: #2a1a3e;
  }